.tickets{
    background-color: rgb(170, 170, 170);
    overflow-y:auto;
    height: 90vh;
}

.ticketButton{
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.selectedTicket{
    background-color: rgb(220, 220, 220);
}

.ticketLink{
    color: black;
    text-decoration: none;
}

.ticketLink:hover{
    color: black;
    text-decoration: none;
}

.textCard{
    margin-left: 10px;
}